<!DOCTYPE html>
<html>
<head>
    <title>Chip Routing Grid Selector</title>
</head>
<body>
    <h1>Chip Routing Interface</h1>
    <img src="{{ url_for('static', filename='graph.jpg') }}" width="700" height="700"><br>
    <form method="POST">
        Start Gate:
        <select name="start">
            {% for gate in gates %}
            <option value="{{gate}}">{{gate}}</option>
            {% endfor %}
        </select>
        End Gate:
        <select name="end">
            {% for gate in gates %}
            <option value="{{gate}}">{{gate}}</option>
            {% endfor %}
        </select>
        <button type="submit">Find Path</button>
    </form>
</body>
</html>
